body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  right: 0;
  transition: all 0.5s;
  width: 100%;
  position: absolute;
  z-index: 10;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav {
  right: 0;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  position: absolute;
}
a {
  color: #504f4f;
  text-decoration: none;
}